<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="mybooks.css" />
        <title>MyBooks - Home</title>
    </head>
    <body>
        <header>
            <h1>My books</h1>
        </header>
        {% for book in books %}
        <article>
            <h2>{{ book.title }}</h2>
            <p>{{ book.summary }}</p>
        </article>
        {% endfor %}
        <footer class="footer">
            <p><strong>MyBooks</strong> est construit avec PHP, Silex, Twig et Bootstrap</p>
        </footer>
    </body>
</html>
